* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  body{
    background: url("http://imageshack.com/a/img924/148/lo4sih.jpg") #83a41a no-repeat bottom center !important;
    background-size: cover;
    font-size: 62.5%;
  }
  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
  }
  .content .title {
    font: 5em Lobster, cursive;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    color: #fafafa;
    margin: -0.5em 0 0.5em 0;
  }
  .content canvas {
    background: #fafafa;
    box-shadow: 0 2px 16px rgba(0,0,0,0.25);
  }